<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <p>It was our mission when we started back in 2019, and it continues to be the driving force today. That’s the beauty of being a focused and passionate group of bike. urban locomote has been distributing motorcycles to Aluva and North Paravur. Our financing program has expanded as well, and now we can help more people like you find and finance the bike of your dreams - because we all know that spending money on life experiences can make you happy. A big part of our success is of course our customers - the loyal motorcycle enthusiasts that come to us for the latest motorcycle stock, and share their love of bikes with us.</p>
</body>
</html>