<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>URBAN LOCOMOTE</h1>
    <h2>ROYAL ENFIELD Authoroised DEALER</h2>
    <h3>17/702-b,Metro piller no.106</h3>
    <h3>Companypady jun,choornikkara,Aluva</h3>
    <h3>683106</h3>
    <h3>Email:sales@urbanlocomote.com</h3>
    <h3>ph:6282127777</h3>
</body>
</html> -->



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urban Locomote</title>
  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container my-5">
        <div class="text-center">
            <h1 class="display-4 text-primary font-weight-bold">URBAN LOCOMOTE</h1>
            <h2 class="text-secondary">ROYAL ENFIELD Authorised DEALER</h2>
            <hr class="my-4">
        </div>
        <div class="text-center mt-4">
            <h5><i class="fas fa-map-marker-alt"></i> 17/702-B, Metro Pillar No. 106</h5>
            <h5>Companypady Junction, Choornikkara, Aluva</h5>
            <h5>683106</h5>
        </div>
        <div class="text-center mt-4">
            <h5><i class="fas fa-envelope"></i> Email: <a href="mailto:sales@urbanlocomote.com" class="text-info">sales@urbanlocomote.com</a></h5>
            <h5><i class="fas fa-phone-alt"></i> Phone: <a href="tel:+916282127777" class="text-info">62821 27777</a></h5>
        </div>
    </div>

   
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
</html>
