{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/style.css' %}">
</head>
<body>
    <div class="login">
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="name" >
        <input type="password" name="password" id="password" placeholder="password">
        <input type="email" name="email" id="email" placeholder="email">
        <input type="submit" value="submit">
    </form>
    <a href="{% url 'register' %}">register</a>
    <a href="{% url 'forgot_password' %}" class="ms-2">forgot password</a>
</div>
</body>
</html>