<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'sellerlogin' %}" method="post">
        {% csrf_token%}
        <input type="text" name="sellername" placeholder="sellername">
        <input type="password" name="password" placeholder="password">
        <input type="confirmpassword" name="confirmpassword" placeholder="confirmpassword">
        <input type="submit" value="submit">

    </form>
</body>
</html>
